<?xml version="1.0"?>

<contextTypes>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.device.frontapplications</id>
        <name>Watched Application</name>
        <shortDescription>The Application or Program-UI that is currently focused and in the Front of the screen.</shortDescription>
        <csd>https://raw.github.com/TVLuke/DynamixCurrentActivityPlugin/master/src/org/ambientdynamix/contextplugins/currentactivity/org.ambientdynamix.contextplugins.context.info.device.frontapplications.xsd</csd>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.device.runningapplications</id>
        <name>Running Applications</name>
        <shortDescription>All aplications or programms currently running on the system.</shortDescription>
        <xsd>https://raw.github.com/TVLuke/DynamixCurrentActivityPlugin/master/src/org/ambientdynamix/contextplugins/currentactivity/org.ambientdynamix.contextplugins.context.info.device.runningapplications.xsd</xsd>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.environment.light</id>
        <name>Ambient Light</name>
        <shortDescription>Represents the lighting in the ambient space</shortDescription>
        <categories>
            <category>Environment</category>
            <category>Light</category>
            <category>Ambient</category>
		</categories>
		<contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.action.environment.light</id>
        <name>Ambient Light Control</name>
        <shortDescription>Allows for the control of ambient Light</shortDescription>
        <categories>
            <category>Environment</category>
            <category>Light</category>
            <category>Ambient</category>
		</categories>
		<contextType>action</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.environment.lightsources</id>
        <name>Ambient Light Sources</name>
        <shortDescription>Provides data on controlable light sources</shortDescription>
        <categories>
            <category>Environment</category>
            <category>Light</category>
            <category>Ambient</category>
		</categories>
		<contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.environment.temperature</id>
        <name>Ambient Temperature</name>
        <shortDescription>Representing the ambient temeperatur in degrees Celcius.</shortDescription>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.environment.carbonmonoxide</id>
        <name>Ambient CO Level</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.environment.humidity</id>
        <name>Ambient Humidity</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.environment.pressure</id>
        <name>Ambient Air Pressure</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.action.device.identification</id>
        <name>Device Identification</name>
        <contextType>action</contextType>
        <shortDescription>Identify the hardware that is currently used to create the context. The type of identification may varry depending on the plugin.</shortDescription>
        <description>
            When generating contextual information the question may arrise which of many interconnected parts of hardware in an ambient smart space is actually tasked with the data collection that is the basis for the context generated by the plugin and send off to the applications by Ambient Dynamix. This Context Type should trigger a plugin that supports it to generate some kind of identification (blinking, beepeing, diplaying a number...) at the piece of hardware that is responsible. This may be used for external environmental sensors (like a sensordrone) or for media plugins where it might be of interest to find out, which UPNP or AIRPLAY device has been selected for display.
        </description>
        <categories>
            <category>Hardware</category>
            <category>Identification</category>
        </categories>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.photodetector.luxvalue</id>
        <name>Ambient Light</name>
        <shortDescription>Represents the lighting in the ambient space</shortDescription>
        <redirect>org.ambientdynamix.contextplugins.context.info.environment.light</redirect>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.ambientmedia.discovery</id>
        <name>Media Discovery</name>
        <shortDescription>Discovering media renderers in the vecinity</shortDescription>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.ambientmedia.interaction</id>
        <name>Media Interaction</name>
        <contextType>action</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.batterylevel</id>
        <name>Battery Level</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.location</id>
        <name>Location</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.zeo.sleep.records</id>
        <name>Zeo Sleep Records</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.zeo.headband.status</id>
        <name>Zeo Headband Status</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.pedometer</id>
        <name>Step Counter</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>de.smartassist.contextplugin.profileinfo</id>
        <name>Smartassist Profile Info</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>de.smartassist.contextplugin.simplesensorvalues</id>
        <name>Smartassist Sensor Data</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.wirelessbeacons</id>
        <name>Wifi Beacons</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.zephyrhxm</id>
        <name>Heart Rate</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.loadtester</id>
        <name>Load Tester</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.barcode</id>
        <name>Barcode Data</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.ambientsound</id>
        <name>Ambient Sound</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.sample_context_info</id>
        <name>Sample Context</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.nfc.tag</id>
        <name>NFC Tag</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.nfc.smart_poster</id>
        <name>NFC Smart Poster</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.nfc.text_record</id>
        <name>NFC Text Record</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.nfc.uri_record</id>
        <name>NFC URI Record</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.acousticfingerprint.discoversongs</id>
        <contextType>info</contextType>
        <name>Currently Playing Song</name>
        <redirect>org.ambientdynamix.contextplugins.context.info.environment.currentsong</redirect>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.environment.currentsong</id>
        <name>Currently Playing Song</name>
        <xsd>https://raw.github.com/TVLuke/DynamixLastfmPlugin/master/src/org/ambientdynamix/contextplugins/lastfm/org.ambientdynamix.contextplugins.context.info.environment.currentsong.xsd</xsd>
        <contextType>info</contextType>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.person.foaffile</id>
        <name>Friend Of A Friend File</name>
        <contextType>info</contextType>
    </dataType>
    <dataType>
		<id>org.ambientdynamix.contextplugins.context.info.environment.currenttime</id>
		<name>Current Time</name>
		<shortDescription>The current Time</shortDescription>
		<description>This datatype provides a java object containing the time and date of its creation. the validity is one second. The datatype is modeled after 
		    JodaTime Class DateTime but does not provide the methods to compare or change the data, only to retreive it.
		    
		    It provides acces to the time as a String formated yyyy-mm-dd hh:mm:ss as well as access to an XML-representation and a json representation.
		</description>
		<contextType>info</contextType>
	</dataType>
	<dataType>
	    <id>org.ambientdynamix.contextplugins.artnet</id>
	    <name>Ambient Light Control</name>
	    <contextType>action</contextType>
	    <redirect>org.ambientdynamix.contextplugins.context.action.environment.light</redirect>
	</dataType>
	<dataType>
	    <id>org.ambientdynamix.contextplugins.context.info.device.screenstatus</id>
	    <name>Screen Status</name>
	    <xsd>https://raw.github.com/TVLuke/DynamixScreenStatusPlugin/master/src/org/ambientdynamix/contextplugins/screenstatus/org.ambientdynamix.contextplugins.context.info.device.screenstatus.xsd</xsd>
	    <contextType>info</contextType>
	</dataType>
	<dataType>
	    <id>org.ambientdynamix.contextplugins.speechtotext.voiceresults</id>
	    <name>Speech To Text</name>
	    <contextType>info</contextType>
	</dataType>
		<dataType>
	    <id>org.ambientdynamix.contextplugins.context.info.sample.ping</id>
	    <name>Ping</name>
	    <xsd>https://raw.github.com/TVLuke/DynamixPingPlugin/master/src/org/ambientdynamix/contextplugins/ping/org.ambientdynamix.contextplugins.context.info.sample.ping.xsd</xsd>
	    <contextType>info</contextType>
	</dataType>
	<dataType>
	    <id>org.ambientdynamix.contextplugins.context.info.device.information</id>
	    <name>Device Information</name>
	    <contextType>info</contextType>
	</dataType>
	<dataType>
	    <id>org.ambientdynamix.contextplugins.context.info.data.whiteboard</id>
	    <name>Whiteboard Data</name>
	    <contextType>info</contextType>
	</dataType>
	<dataType>
	    <id>org.ambientdynamix.contextplugins.context.action.data.whiteboard</id>
	    <name>Whiteboard Storing</name>
	    <contextType>action</contextType>
	</dataType>
</contextTypes>