<?xml version="1.0"?>

<contextTypes>
    <dataType>
        <id>org.ambientdynamix.contextplugins.reddot</id>
        <name>Red Dot</name>
        <shortDescription>Utterly useless contexttype just for testing.</shortDescription>
        <description>Utterly useless contexttype just for testing.</description>
        <categories>
            <category>testing</category>
            <category>stupid</category>
		</categories>
		<web>http://www.bla.com</web>
		<logo>
		    <on>http://www.lukeslog.de/stuff/reddoton.png</on>
		    <off>http://www.lukeslog.de/stuff/reddotoff.png</off>
		</logo>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.environment.light</id>
        <name>Ambient Light</name>
        <description>Represents the lighting in the ambient space</description>
        <categories>
            <category>environment</category>
            <category>light</category>
            <category>ambient</category>
		</categories>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.context.info.environment.temperature</id>
        <name>Ambient Temperature</name>
        <description>Representing the ambient temeperatur in degrees Celcius.</description>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.photodetector.luxvalue</id>
        <name>Ambient Light</name>
        <description>Represents the lighting in the ambient space</description>
        <redirect>org.ambientdynamix.contextplugins.context.info.environment.light</redirect>
    </dataType>
    <dataType>
        <id>org.ambientdynamix.contextplugins.ambientmedia.discovery</id>
        <name>Media Discovery</name>
        <description>Discovering media renderers in the vecinity</description>
    </dataType>
    <datatType>
		<id>org.ambientdynamix.contextplugins.context.info.environment.currenttime</id>
		<name>Current Time</name>
		<shortDescription>The current Time</shortDescription>
		<description>This datatype provides a java object containing the time and date of its creation. the validity is one second. The datatype is modeled after 
		    JodaTime Class DateTime but does not provide the methods to compare or change the data, only to retreive it.
		    
		    It provides acces to the time as a String formated yyyy-mm-dd hh:mm:ss as well as access to an XML-representation and a json representation.
		</description>
	</datatType>
</contextTypes>